<div class="modal-content">
	<form ng-submit="update_pass()">		
		<div class="modal-header">
			<h4 class="modal-title text-center">Cambiar Contraseña</h4>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label for="pass">Contraseña:</label>
				<input id="pass" type="password" class="form-control" ng-model="newpass.new" placeholder="Contraseña" required>
			</div>
			<div class="form-group">
				<label for="rpassword">Repite la contraseña:</label>
				<input id="rpassword" type="password" class="form-control" ng-model="newpass.rpassword" placeholder="Repite la contraseña" required>
				<i class="text-danger" ng-if="newpass.new != newpass.rpassword">Las claves deben ser iguales</i>
			</div>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="closeThisDialog(0)" data-dismiss="modal">Cerrar</button>
			<button type="submit" class="btn btn-primary" ng-if="newpass.new == newpass.rpassword" >{{button}}</button>
		</div>
	</form>
</div>